.main {
  display: grid;
}

.link {
  &__more {
    &:hover {
      text-decoration: underline;
    }

    svg {
      transition: margin 0.2s linear,
        left 0.2s linear;
    }
  }

  &__more--right {
    &:hover svg {
      margin-left: 10px;
    }
  }

  &__more--left {
    &:hover svg {
      left: -10px;
    }
  }

  &__home {
    display: inline-block;
    width: 50%;
  }
}

.pagination {
  &__wrapper {
    margin-top: 40px;
    margin-bottom: 50px;
    order: 3;
  }
}